version: "2.1"
services:
    backup_owncloud:
        build:
            context: .
            dockerfile: Dockerfile-ownbak
        image: filament/duplicity:mysql
        hostname: backup-owcnloud
        domainname: "{{ cloud_url }}"
        environment:
            DST: "swift://owncloud_{{ inventory_hostname|lower }}"
            MYSQL_DATABASE: {{ cloud_db_user }}
            MYSQL_USER: {{ cloud_db_user }}
            MYSQL_PASSWORD: {{ cloud_db_pass }}
            MYSQL_HOST: db
            PASSPHRASE: "{{ cloud_db_pass }}"
            SWIFT_USERNAME: "{{ swift_username }}"
            SWIFT_PASSWORD: "{{ swift_password }}"
            SWIFT_AUTHURL: "{{ swift_authurl }}"
            SWIFT_AUTHVERSION: {{ swift_authversion }}
            SWIFT_TENANTNAME: "{{ swift_tenantname }}"
            SWIFT_TENANTID: "{{ swift_tenantid }}"
            SWIFT_REGIONNAME: "{{ swift_regionname }}"
            JOB_200_WHEN: "weekly"
            JOB_300_WHAT: "backup --full-if-older-than 1D"
            JOB_300_WHEN: "weekly"
            JOB_302_WHAT: "dup remove-all-but-n-full 4 --force $$DST $$@"
            JOB_302_WHEN: "weekly"
            JOB_700_WHEN: "weekly"
        volumes:
            - owncloud_owncloud:/mnt/backup/src/owncloud:z
            - ./owncloud:/backups
        networks:
            - owncloud_default
        command:
            - /etc/periodic/weekly/jobrunner

networks:
    owncloud_default:
        driver_opts:
            encrypted: 1
        external: true

volumes:
    owncloud_owncloud:
        external: true
