version: "2.1"
services:
    backup_owncloud:
        build:
            context: .
            dockerfile: Dockerfile-mysql
        image: filament/duplicity:mysql
        hostname: backup-owcnloud
        environment:
            DST: "swift://owncloud_{{ inventory_hostname|lower }}"
            MYSQL_DATABASE: {{ cloud_db_user }}
            MYSQL_USER: {{ cloud_db_user }}
            MYSQL_PASSWORD: {{ cloud_db_pass }}
            MYSQL_HOST: db
            PASSPHRASE: "{{ cloud_db_pass }}"
            SWIFT_USERNAME: "{{ swift_cloud_username }}"
            SWIFT_PASSWORD: "{{ swift_cloud_password }}"
            SWIFT_AUTHURL: "{{ swift_cloud_authurl }}"
            SWIFT_AUTHVERSION: {{ swift_cloud_authversion }}
            SWIFT_TENANTNAME: "{{ swift_cloud_tenantname }}"
            SWIFT_TENANTID: "{{ swift_cloud_tenantid }}"
            SWIFT_REGIONNAME: "{{ swift_cloud_regionname }}"
            JOB_200_WHEN: "weekly"
            JOB_300_WHAT: "dup full $$SRC $$DST"
            JOB_300_WHEN: "weekly"
            JOB_302_WHAT: "dup remove-all-but-n-full 5 --force $$DST $$@"
            JOB_302_WHEN: "weekly"
            JOB_700_WHEN: "weekly"
        volumes:
            - owncloud_owncloud:/mnt/backup/src/owncloud:z
            - ./owncloud:/backups
        networks:
            - owncloud_default
            - public
        command:
            - /etc/periodic/weekly/jobrunner

networks:
    owncloud_default:
        external: true
    public:
        driver_opts:
            encrypted: 1

volumes:
    owncloud_owncloud:
        external: true
